<div class="container my-5">
    <mat-card class="product-details-card shadow-lg">
        <mat-card-header class="text-center">
            <mat-card-title>
                <h2>{{ product.name }}</h2>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-md-6">
                    <div class="product-image">
                        <img [src]="product.imageUrl"
                            alt="{{ product.name }}" class="img-fluid rounded">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product-info">
                        <h3 class="product-price">${{ product.price }}</h3>
                        <p class="product-description">{{ product.description }}</p>
                        <p class="product-category">Category: {{ product.categoryModel.name }}</p>
                        <button mat-raised-button color="primary" class="buy-now-button" (click)="buyNow(product)">
                            <i class="bi bi-cart"></i> Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>