.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.table {
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .table-hover tbody tr:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .btn-group .btn {
    margin-right: 5px;
  }
  
  .btn-group .btn:last-child {
    margin-right: 0;
  }

.btn-primary {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.store-card {
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.store-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
}

.card-text {
    font-size: 1rem;
    color: #666;
}

.icon-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.icon-button i {
    font-size: 1.1rem;
    color: #333;
}

.icon-button i:hover {
    color: #007bff;
}

.d-btn i:hover {    
    color: #dc3545;
}

.u-btn i:hover {
    color: #28a745;
}

.btn-info {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #17a2b8;
    border-color: #17a2b8;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-info:hover {
    background-color: #138496;
    border-color: #117a8b;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 0.875rem;
}